*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-navColor: #C4C4CC;
    --font-color: #E1E1E6;
    --bg-color: #172026;
    --btn-coloHover: #02799D;
    font-size: 62.5%;
}

body{
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

body img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: -1;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    margin-left: 3.2rem;
    padding: 4rem;
    gap: 3.2rem;
    z-index: 1;
}

nav a {
    color: var(--font-navColor);
    font-weight: 400;
    font-size: 2.4rem;
    text-decoration: none;
    line-height: 2.2rem;
}

.main-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.wrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 0;
}

.wrapper h1 {
    margin-top: 20.5rem;
    margin-left: 10.2rem;
}
.wrapper p {
    color: #fff;
    max-width: 64.8rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;

    margin-top: 1.6rem;
    margin-left: 10.2rem;
}

#app h1{
    color: var(--font-color);
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 125%;
}

#app button{
    margin-top: 2.4rem;
    color: var(--font-color);
    background-color: #00000000;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-inline: 3.2rem;
    padding-block: 1.2rem;

    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
}

#app button:hover {
    color: var(--btn-coloHover);
    background-color: #fff;
    transition: 0.5s ease;
}

